<form [formGroup]="criteriaForm" class="form-inline">
  <div class="form-group mr-4">
    <div class="input-group">
      <input formControlName="from" ngbDatepicker #d1="ngbDatepicker" [minDate]="{year: 2017, month: 1, day: 1}">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">Open</button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <input formControlName="to" ngbDatepicker #d2="ngbDatepicker" [minDate]="{year: 2017, month: 1, day: 1}">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">Open</button>
      </div>
    </div>
  </div>

</form>
